{% assign latest_key = cart.attributes.latest_key %}

{% for item in cart.items %}
    {% if item.key == latest_key %}
        <div 
            data-cart-item
            data-key="{{ item.key }}"
            data-title="{{ item.product.title | escape_once }}"
            data-quantity="{{ item.quantity }}"
            data-price="{{ item.final_line_price | money }}"
            data-image="{% if item.image %}{{ item.image | image_url: width: 160 }}{% else %}/placeholder.png{% endif %}"
        ></div>
    {% endif %}
{% endfor %}