
<section class="relative w-full h-[600px]">
    {% if section.settings.hero_image != blank %}
        <img 
            src="{{ section.settings.hero_image | image_url: width: 1920 }}" 
            alt="Hero Image" 
            class="absolute inset-0 w-full h-full object-cover"
            loading="lazy"
            width=""
            height=""
        >

        <div class="absolute text-white md:block items-center top-1/2 md:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">
            <h1 class="font-bold text-3xl lg:text-5xl">{{ section.settings.tagline }}</h1>
            <p class="font-bold text-base md:text-md my-4">{{ section.settings.description }}</p>
            <a href="{{ routes.collections_url }}" class=" bg-amber-300 text-black py-3 rounded-xl px-6">Watch collections</a>
        </div>
    {% else %}
        <div class="hidden md:block">
            <div
                class="relative h-[50vh] bg-center bg-no-repeat bg-cover flex items-center justify-center bg-gray-400"
            >
                <div class="text-center text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                    <h1 class="text-lg md:text-2xl lg:text-5xl">{{ section.settings.tagline }}</h1>
                    <p class="my-4">{{ section.settings.description }}</p>
                </div>
            </div>
        </div>
    {% endif %}
</section>

{% schema %}
{
  "name": "Hero Section",
  "settings": [
        {
            "type": "text",
            "id": "tagline",
            "label": "Store Tagline",
            "default": "Where Time Meets Legacy",
            "info": "This tagline will be displayed at the hero section"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Store Description",
            "default": "``Luxury timepieces for those who value every second. Timeless design. Tradition in every detail.``",
            "info": "This description will below the tagline"
        },
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
        }

    ],
  "presets": [
    {
      "name": "Hero Section",
    }
  ]
}
{% endschema %}
